@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Intern', sans-serif;
    background-color: #cac1c1;
  
    -webkit-font-smoothing: antialiased !important
  }

  .form {
    padding: 40px;
  }

  .form_label {
    margin: 15px 60px;
    padding: 15px;
    border-radius: 0px;
    resize: none;
    border: 0;
    height: 60px;
    outline: none;
  
    font-weight: bold;
    color: #000000;
    border: 2px solid #fff;
  }

#menu {
    background-color: #8A2BE2;
    text-align: center;
    padding: 10px 0;
  }
  
  #menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 24px;
  }

div.newPost div.infoUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

div.newPost div.name {
  display: flex;
  align-items: row;
  align-items: center;
}
  
div.newPost div.infoUser div.imgUser {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #8A2BE2;
}

strong {
  font-size: 24px;
  color: #8A2BE2;
  margin-left: 10px;
}
div.main {
  max-width: 900px;
  margin: 0 auto;
}

div.newPost {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 50px 0;
  padding: 25px;

  background: #fff;
  border-radius: 20px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
}

.container_form {
  font-family: 'Intern', sans-serif;
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background:#ffffff; 
  box-shadow: 1px 0px 1.2px 0px #e3e3e3; 
  border-radius:3px; 
  padding:1em;
}

.container_form h1 {
  font-family: 'Intern', sans-serif;
  font-size: 2.3em;
  color: #00dae0;
  border-bottom: 1px #f0eded solid;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.btn {
    background-color: #8A2BE2;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
    border-radius:3px;
    padding: 5px;
}

.editarPerfil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnAmizade {
  background-color: #08defa;
  color: #fff;
  font-size: 15x;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 0 !important;
  border-radius:3px;
  padding: 5px;
}

.perfilInfo {
  padding: 7px;
}

p {
  font-size: 20px;
}

.info{
  font-weight: bold;
}

.btnAmizade:hover {
  transform: scale(1.05);
  background-color: #bac524;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #7724c5;
}

.submit { width:100%; float:left; }

.submit_btn {
    float: left;
    display: block;
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: #6fcffb;
    color: #fff;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-family: inherit;
    font-size: 25px;
    font-family:'open_sansregular';
    border-radius: 6px;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.3s;
}
.submit_btn:hover {
    background-color: #444444;
    transform: scale(1.03);
}
.dropdown {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-family: inherit;
    color: #222222;
    border-radius: 4px;
    border: 1px #f2f2f2 solid;
    background: #fdfdfd;
    outline: none;
    padding-left: 10px;
    width: 100%;
}
.form_new_input {
    display: none;
}
.radio_label,
.check_label {
    float: left;
    width: 100%;
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 8px;
}
.radio_new_btn {
    position: absolute;
    left: 0;
    transform: translateY(3px);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 0.2em solid #4c4c4c;
}

.btnAmizade {
  background-color: #e2fa08;
  color: #fff;
  font-size: 14px;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 0 !important;
  border-radius:3px;
  padding: 5px;
}

.btnAmizade:hover {
  transform: scale(1.05);
  background-color: #bac524;
}

.radio_new_btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #6fcffb;
    visibility: hidden;
}
.check_new_btn {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    border: 0.2em solid #4c4c4c;
}
.check_new_btn::after {
    content: "";
    height: 8px;
    width: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6fcffb;
    visibility: hidden;
}
.form_new_input:checked ~ .radio_label .radio_new_btn::after,
.form_new_input:checked ~ .check_label .check_new_btn::after {
 
    visibility: visible;
}
.form_new_input:checked ~ .radio_label,
.form_new_input:checked ~ .check_label {
    color: #6fcffb;
}

.form_input {
    font-size: 16px;
    font-family: inherit;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px #f2f2f2 solid;
    background: #fdfdfd;
    outline: none;
    width: 100%;
    transition: all 0.3s;
    margin: 15px 60px;
    resize: none;
    height: 60px;
  
    font-weight: bold;
    color: #000000;
}
.form_message,
.form_message .message_input {
    width: 100%;
    float:left;
}
.form_message_label {
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    
}


.post {
  margin-bottom: 50px;
  background: #e1d0f1;
  width: 100%;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
  list-style-type: none;
}

.posts {
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
}

li.post div.infoUserPost {
  display: flex;
  align-items: center;
}

li.post div.infoUserPost div.nameAndHour>strong {
  color: #8A2BE2;
}

 li.post>p {
  width: 100%;
  margin: 20px 0;
  font-weight: bold;
  color: black;
}