
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Intern', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #8A2BE2;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #bebfc5;
}

.formRegistro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 10px 10px 40px rgb(0, 0, 0, 0.4);
    gap: 5px;
    border: 7px;
    width: 345px;
}



.formRegistro h1{
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formRegistro p{
    display: inline-block;
    font-size: 14px;
    color: #696969;
    margin-bottom: 25px;
}

.formRegistro input{
    padding: 15px;
    font-size: 14px;
    border: 1px solid #8e8686;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 20px;
    transition: all linear 160ms;
    outline: none;
}

.formRegistro input:focus {
    border: 1px solid #8A2BE2;
}

.formRegistro label {
    font-size: 14px;
    font-weight: 600;
}

.formRegistro a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formRegistro a:hover {
    color: #8A2BE2;
}

.btn {
    background-color: #8A2BE2;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 45px;
    border: 2px;
    transition: all linear 160ms;
    cursor: pointer;
    margin-bottom: 1pc;
    border-radius: 40px;
    

}

.btn:hover {
    transform: scale(1.05);
    background-color: #6e24b3;

}


.btn2 {
    background-color: #8A2BE2;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 45px;
    margin-bottom: 1pc;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
    border-radius: 40px;
    

}

.btn2:hover {
    transform: scale(1.05);
    background-color: #6e24b3;

}